@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --body-background: hsl(0, 0%, 95%);
  --secondary: hsl(0, 0%, 34%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --body-background: hsl(0, 0%, 10%);
    --secondary: hsla(0, 0%, 70%, 100%);
  }
}

body {
  color: var(--foreground);
  background: var(--body-background);
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-width: thin;
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .primary-btn {
    @apply rounded-md hover:text-foreground transition-colors hover:bg-gray-500/10 active:bg-gray-500/15;
  }

  .modal {
    @apply fixed left-0 2xl:left-auto top-12 w-full max-w-screen-2xl h-full flex px-4 py-2 bg-black/80;
  }

  .menu {
    @apply p-1 w-full max-w-72 h-fit max-h-96 bg-background rounded-md shadow overflow-auto scrollbar-thin transition-transform animate-scaleUp origin-top;
  }

  .grid-location-option {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1.5rem);
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-none {
    scrollbar-width: none;
  }
}
